body {
  font-family: sans-serif;
  background-color: #fff;
  
}

.container {
  max-width: 1200px;
  /* margin: 0 auto; */
}
.header{
margin-top: -50px;
}
.header,
.footer {

  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  /* margin-left : 50px */
}

.title {
  margin-top : 30px;
  text-align: center;
}

table {
  width: 1150px;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead tr:first-child {
  background-color: #FF8E29;
  color: white;
}
/* thead th { */
  /* color: #FFDAB9 ; */
/* } */
/*  */
thead tr:nth-child(2) {
  background-color: #FF8E29;
  color: white;
}

tbody tr {
  background-color: #FFF4EA;
  color: #6F757E ;
}

.total {
  margin-top: 20px;
  text-align: center;
}

.Serial_Number{
    padding-top: 1px;
}
.grand_total{
  font-weight: bold;
  color:#FF8E29;
  font-size: 20px; 
}
.price{
  color : #6F757E;
  font-size: 20px; 
}
.storage{
 color : #6F757E;
}
.black{
  color:black;
  font-weight: bold;
}
.gray{
  color : black;
}
.Date{
  margin-top: 15px;
}
.center-text {
  text-align: center;
  vertical-align: middle;
}